.wrapper {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  }
  
.wrapper h1 {
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
  }

.wrapper input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.wrapper label {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;

}

  

  
